<html>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <nav style="background-color: #6D214F">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/images/book5.jpg" style="padding:5px;width:70px ;" ></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/publication/display" target="mw">Publication</a></li>
        <li><a href="/bookcategory/display" target="mw">Bookcategory</a></li>
        <li><a href="/categorywriter/display" target="mw">Category Writer</a></li>
        <li><a href="/books/display" target="mw">Books</a></li>
        <li><a href="collapsible.html"><i class="material-icons right">logout</i></a></li>
      </ul>
    </div>
  </nav>
  <iframe name="mw" style="height:92vh;width:99.5vw;overflow:hidden;" style="border:none;"></iframe>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
  />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>